@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;800&family=Teko:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    @apply flex flex-col items-center justify-center align-middle;
  }
  h1,
  h2 {
    font-family: "Teko", "sans-serif";
    font-weight: 400;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
  p {
    @apply text-base;
  }
  body {
    @apply bg-black text-2xl;
    font-family: "Noto Sans", "sans-serif";
  }
  .text-difference {
    @apply text-white mix-blend-difference;
  }
  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }
}
