@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    @apply flex flex-col;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-xl;
  }
  body {
    @apply bg-black;
  }
  .text-difference {
    @apply text-white mix-blend-difference;
  }
  .bg-coe {
    background-image: url("../../public/bg.webp");
    background-size: cover;
  }
  .bg-coeShade {
    background: linear-gradient(
      180deg,
      #2f2f2f 0%,
      #646464 11.98%,
      rgba(255, 255, 255, 0) 42.19%
    );
    mix-blend-mode: multiply;
  }
}
